# Tugas 1

In [ ]:
#ini tugas 1

In [8]:
# Import liberary pandas dan math
import pandas as pd 
import math

In [9]:
# Membaca data csv
korban_perempuan = pd.read_csv("https://raw.githubusercontent.com/dewialqurani/datamining/main/korban_perempuan.csv")
korban_perempuan.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jenis_kelamin,jumlah_korban,satuan,tahun
0,1,32,JAWA BARAT,3204,KABUPATEN BANDUNG,LAKI-LAKI,39,ORANG,2017
1,2,32,JAWA BARAT,3204,KABUPATEN BANDUNG,PEREMPUAN,129,ORANG,2017
2,3,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,LAKI-LAKI,2,ORANG,2017
3,4,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,PEREMPUAN,16,ORANG,2017
4,5,32,JAWA BARAT,3216,KABUPATEN BEKASI,LAKI-LAKI,0,ORANG,2017

In [10]:
# mengetahui jumlah baris dan kolom
korban_perempuan.shape

(54, 9)

In [11]:
# Menampilkan data Nominal/Categorical
korban_perempuan[["kode_provinsi","nama_provinsi","kode_kabupaten_kota","nama_kabupaten_kota","satuan","tahun"]].head()

,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,satuan,tahun
0,32,JAWA BARAT,3204,KABUPATEN BANDUNG,ORANG,2017
1,32,JAWA BARAT,3204,KABUPATEN BANDUNG,ORANG,2017
2,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,ORANG,2017
3,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,ORANG,2017
4,32,JAWA BARAT,3216,KABUPATEN BEKASI,ORANG,2017

In [12]:
# Menghitung jarak data Nominal
def d1(i,j):
    P = 4
    M = 0
    for col in ["kode_provinsi","nama_provinsi","kode_kabupaten_kota","nama_kabupaten_kota","satuan","tahun"]:
        if korban_perempuan[col][i] == korban_perempuan[col][j]:
            M += 1

    return (P-M)/P

In [13]:
# Menampilkan hasil perhitungan
print(d1(1,2))
print(d1(1,3))
print(d1(1,4))

0.0
0.0
0.0

In [14]:
# Menampilkan data numeric
korban_perempuan[["jumlah_korban"]].head()

   jumlah_korban
0             39
1            129
2              2
3             16
4              0

In [15]:
korban_perempuan.describe()

              id  kode_provinsi  kode_kabupaten_kota  jumlah_korban   tahun
count  54.000000           54.0            54.000000      54.000000    54.0
mean   27.500000           32.0          3231.333333      10.814815  2017.0
std    15.732133            0.0            31.494833      19.433558     0.0
min     1.000000           32.0          3201.000000       0.000000  2017.0
25%    14.250000           32.0          3207.250000       1.000000  2017.0
50%    27.500000           32.0          3214.000000       5.000000  2017.0
75%    40.750000           32.0          3272.750000      11.000000  2017.0
max    54.000000           32.0          3279.000000     129.000000  2017.0

In [16]:
# Normalisasi jumlah_korban
std1 = 19.433558
mean1 = 10.814815
for col1 in ["jumlah_korban"]:
    data1 = korban_perempuan[col1]
    hasil1 = (data1-mean1)/std1
    print(hasil1)

0     1.450336
1     6.081500
2    -0.453587
3     0.266816
4    -0.556502
5    -0.144843
6    -0.556502
7    -0.505045
8    -0.350673
9     0.318273
10   -0.505045
11   -0.299215
12   -0.453587
13   -0.041928
14   -0.556502
15    0.369731
16   -0.556502
17   -0.247758
18   -0.556502
19   -0.247758
20   -0.556502
21   -0.299215
22   -0.556502
23    0.009529
24   -0.505045
25    1.141592
26   -0.505045
27   -0.196300
28   -0.453587
29   -0.093386
30   -0.350673
31    0.678475
32   -0.299215
33    0.318273
34   -0.402130
35    0.575560
36   -0.144843
37    1.450336
38   -0.505045
39    0.318273
40   -0.402130
41   -0.247758
42   -0.505045
43   -0.505045
44   -0.350673
45    0.009529
46   -0.556502
47   -0.247758
48   -0.144843
49    1.604708
50   -0.453587
51   -0.247758
52   -0.299215
53    0.266816
Name: jumlah_korban, dtype: float64

In [17]:
# Menghitung jarak Numeric dengan metode Euclidean
def d2(i,j,h):
    result = 0
    for col in [hasil1]:
        result = math.pow(abs(col[i] - col[j]), h)
    return result**(1/h)

In [18]:
# Hasil perhitungan
print(d2(1,2,2))
print(d2(1,3,2))
print(d2(1,4,2))

6.5350873988180656
5.814684063515286
6.638002161004176

SIMILARITY

In [19]:
# Jarak d(1,2)
print(d1(1,2)+d2(1,2,2))

6.5350873988180656

In [20]:
# Jarak d(1,3)
print(d1(1,3)+d2(1,3,2))

5.814684063515286

In [21]:
# Jarak d(1,4)
print(d1(1,4)+d2(1,4,2))

6.638002161004176